.HeaderWallpaper {
    /*/
    outline: 1px dotted red;
    /**/

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* <- TODO: !!!!! Use here real image MASS*/
}

.inner {
    /*/
    outline: 1px dotted red;
    /**/

    height: 100%;
    width: 100%;

    /*
    max-width: 1200px;
    /* <- TODO: !!!!! Use here real image shape:
    
        - http://localhost:4444/?wallpaper=0be0c3f8-8939-479c-a3c1-1e18dc7af80b Should be limited
        - http://localhost:4444/?wallpaper=56a6c41c-c24d-4c48-8018-287c506da553 should be unlimited

        + !!! Better upscale all images
    
    */
}

/*

TODO: !!!! Make here better mobile view

*/
