.colorPicker {
    /*/
    outline: 1px dotted #00ff00;
    /**/

    z-index: 2;
    position: absolute;

    /*
    transform: translate(calc(50% + 30px), calc(-50% - 25px));
    */

    bottom: 50px;
    left: 10px;
}
