.pending {
    color: #888888;
}

.available {
    color: #0bee57;
}

.registered {
    color: #dd1b1b;
}

.unknown {
    color: #888888;
}

.action {
    outline: none;
    border: 1px solid #ccc;

    display: inline-block;
    background-color: #222222;
    color: #ccc;
    border-radius: 3px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    margin-left: 5px;
}
