.HandwrittenText {
    /*/
    outline: 1px dotted green;
    /**/

    height: 1em;

    display: grid;
    justify-content: center;
    align-items: start;
    grid-template: '🟦';
}

.HandwrittenText img.primaryImage {
    /*/
    outline: 1px dotted green;
    /**/

    grid-area: 🟦;

    object-fit: 'cover';
    width: 100%;
    height: 1em;
}

.HandwrittenText span.textFallback {
    /*/
    outline: 1px dotted green;
    /**/

    grid-area: 🟦;
    color: rgba(0, 0, 0, 0%);

    height: 1em;
    transform: translate(0, 0.2em);
    white-space: nowrap;
}
