.CompletionTextarea {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    font-family: 'Kelly Slab', sans-serif;

    /* TODO: Use or remove empty css */
}

.textarea {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 55px;
    right: 0;
    width: 100%;

    outline: none;
    border: none;
    resize: none;

    background-color: transparent;
    font-size: 30px;

    padding: 10px;
}

.controls {
    z-index: 2;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0px;
    text-align: center;
    background-color: black;
    box-shadow: 0 30px 30px 30px #000;
}

.controls.isWorking button {
    opacity: 0.5;
}

.controls button {
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
}
