.DomainsStatusList {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    width: 100%;

    padding: 10px;
    padding-top: 20px;
}

textarea.pattern {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    width: 50%;

    height: 300px;
}
