.FeedbackButton {

    pointer-events: all;

    height: 40px;
    width: 40px;
    cursor: pointer;

    border-radius: 50%;
    border: none;
    outline: none;

    background-color: #fdd10e;
}

.FeedbackButton img {
    transform: translate(0, -1px);
}
