.MenuRoot {
    /*/
    outline: 1px solid red;
    /**/

    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.Menu {
    /*/
    outline: 1px solid rgb(102, 255, 0);
    /**/

    z-index: 20002 /* <- [🔝] Global order of showcase */;
    user-select: none;
    position: relative;
}

.MenuBar {
    position: relative;
    z-index: 2 /* <- Local order of <Menu/> */;
    width: 35px;
    height: 40px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: var(--palette-1);
    box-shadow: 2px 2px 0 var(--palette-5);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

.bar1 {
    transform: translateY(-4px);
}

.bar2 {
    transform: translateY(0);
}

.bar3 {
    transform: translateY(4px);
}

nav.MenuContent {
    position: relative;
    z-index: 2 /* <- Local order of <Menu/> */;
    transition: 0.3s ease;
    display: none;
    margin-top: 70px;
}

nav.MenuContent ul {
    padding: 0;
    margin: 0;
}

nav.MenuContent li {
    list-style: none;
    text-align: right;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(var(--palette-1-triplet), 0.3);
    color: rgba(var(--palette-1-triplet), 0.8);
}

nav.MenuContent li:last-child {
    border-bottom: none;
}

nav.MenuContent li.featured {
    font-weight: bold;
    color: var(--palette-1);
}

nav.MenuContent li a {
    display: block;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
}

nav.MenuContent li:hover {
    background-color: rgba(var(--palette-1-triplet), 0.2);
}

.Menu,
.MenuBar,
.MenuBg {
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    /* 📱 Smartphones */

    .Menu,
    .MenuBar,
    .MenuBg {
        position: fixed;
    }
}

.MenuBgWrapper {
    /*/
    outline: 1px solid green;
    background-color: rgba(0, 128, 0, 0.205);
    /**/

    z-index: 1 /* <- Local order of <Menu/> */;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
    overflow: clip;
}

.MenuBg {
    /*/
    outline: 1px solid red;
    /**/

    width: 0;
    height: 0;

    background: radial-gradient(circle, var(--palette-0), var(--palette-0));
    box-shadow: 0 0 20px rgba(var(--palette-1-triplet), 0.8);
    border-radius: 50%;
    transition: 0.3s ease;

    transform: translate(50%, -50%);

    box-sizing: content-box;

    pointer-events: all;
}

.Menu:is([data-toggle-state='open']) .MenuBg {
    width: 700px;
    height: 700px;
}

.Menu:is([data-toggle-state='open']) .MenuBar,
.Menu:is([data-toggle-state='open']) .MenuContent,
.Menu:is([data-toggle-state='open']) .MenuBg {
    display: block !important;
}

.Menu:is([data-toggle-state='open']) .MenuBar .bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.Menu:is([data-toggle-state='open']) .MenuBar .bar2 {
    /* !!! Better */
    opacity: 0;
}

.Menu:is([data-toggle-state='open']) .MenuBar .bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
