.hint {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    z-index: 30000 /* <- [🔝] Global order of showcase */;

    transform: translate(0, 50%);
    /*transform: translate(-50%, -100%);*/
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    /*
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    */
}

.highlight {
    /*/
    outline: 1px dotted rgb(79, 194, 223);
    /**/

    z-index: 30000 /* <- [🔝] Global order of showcase */;

    border: 2px dashed #22d3da;
    border-radius: 5px;
}

@media only screen and (min-width: 900px) {
    /* TODO: Show hints for bigger screens */
    .hint,
    .highlight {
        display: none;
    }
}

/*
TODO: !!!!! This file should be inlined in activateHintComponent.ts
*/
