.hint {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    z-index: 30000 /* <- [🔝] Global order of showcase */;

    transform: translate(0, 50%);
    /*transform: translate(-50%, -100%);*/
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    padding-right: 20px;

    color: #000000;
    background-image: url(/icons/hint.svg);
    background-size: 100% 100%;
}

.ai-highlight {
    /*/
    outline: 1px dotted rgb(79, 194, 223);
    /**/

    z-index: 30000 /* <- [🔝] Global order of showcase */;

    border: 2px dashed #22d3da;
    border-radius: 5px;
}

@media only screen and (min-width: 900px) {
    /* TODO: Show hints for bigger screens */
    .hint,
    .highlight {
        display: none;
    }
}

/*------------------------*/

/*
TODO: [📳] Same structure of AI components for every component
      [🧠] CSS modules VS Static CSS file
*/
