/*
!!!! Cleanup file
*/

.container {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    z-index: 30000 /* <- [🔝] Global order of showcase */;

    transform: translate(0, 50%);
    /*transform: translate(-50%, -100%);*/
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    /*
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    */
}

.arrow {
    /*/
    outline: 1px dotted rgb(103, 223, 79);
    /**/

    width: 0;
    height: 0;
    /*
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    */

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, 0.6);
    border-right: 5px solid transparent;
}

.text {
    /*/
    outline: 1px dotted rgb(103, 223, 79);
    /**/

    width: max-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: right;

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    /*
    writing-mode: vertical-lr;
    */
}

@media only screen and (min-width: 900px) {
    /* TODO: Show hints for bigger screens */
    .container {
        display: none;
    }
}
