<!--
Note: This file is to dest design of hint labels
    @generator 
-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body {
        font-family: 'Barlow Condensed', sans-serif;
        color: #000;
        background-color: #444;
    }
</style>

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, illum blanditiis. Eius ea, eos accusamus nihil impedit
debitis reiciendis, natus sequi molestiae sapiente vel illum laborum consequuntur officia, vero neque. Blah blah blah,
blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah
blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah
blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah, blah blah blah,

<div
    style="
        /*/
        outline: 1px dotted rgb(255, 38, 38);
        /**/
        position: fixed;
        bottom: 200px;
        right: 300px;
        padding: 10px;
        padding-right: 20px;
        background-image: url(/public/icons/hint.svg);
        background-size: 100% 100%;
    "
>
    Hello
</div>

<div
    style="
        /*/
        outline: 1px dotted rgb(255, 38, 38);
        /**/
        position: fixed;
        top: 200px;
        right: 300px;
        padding: 10px;
        padding-right: 20px;
        font-size: 70px;
        background-image: url(/public/icons/hint.svg);
        /* background-image: url(/public/icons/hint.svg); */
        background-size: 100% 100%;
    "
>
    Hello world
</div>
