.Article {
}

/*
TODO: !! It is not looking good when there is <h1> in middle of texts
*/

.Article h1 {
    line-height: 110%;
    margin-bottom: 50px;
    font-size: 65px;

    word-break: break-word;
}

.Article h2 {
    margin-top: 60px;
    border-bottom: 2px solid var(--palette-2);
}

.Article ul,
.Article ol {
    text-align: left;
}

.Article hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid(--palette-2);
}

.Article blockquote {
    font-size: 1.2em;
    border: 2px solid var(--palette-2);
    margin: 20px;
    padding: 20px;
    /* TODO: Allow to mix opacity> background-color: rgba(var(--palette-1), 0.5); @see https://stackoverflow.com/a/41265350 */
}

/*
TODO:


@media only screen and (max-width: 600px) {
    .page main h1 {
        font-size: 70px;
    }
}

*/
