.Article {
}

.Article h1 {
    line-height: 110%;
    margin-bottom: 50px;
    font-size: 65px;
}

.Article h2 {
    margin-top: 60px;
    border-bottom: 1px solid var(--normal-text-color);
}

.Article ul,
.Article ol {
    text-align: left;
}

.Article hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Article blockquote {
    font-size: 1.2em;
    border: 2px solid var(--palette-2);
    margin: 20px;
    padding: 20px;
    /* TODO: Allow to mix opacity> background-color: rgba(var(--palette-1), 0.5); @see https://stackoverflow.com/a/41265350 */
}

/*
TODO:


@media only screen and (max-width: 600px) {
    .page main h1 {
        font-size: 70px;
    }
}

*/
