.SelectWithFirst {
    /* TODO: Use or remove empty css */
}

.SelectWithFirst .title {
    text-align: left;
}

.SelectWithFirst select {
    outline: none;
}

.option {
    padding: 5px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.selected {
    border: 2px solid rgb(69, 214, 250);
}

.title {
    display: inline-block;
    width: 70px;
}
