.inner {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: '🟦';
}

.inner .inputLayer,
.inner .feedbackLayer {
    /*/
    outline: 1px dotted rgb(255 63 38);
    /**/

    grid-area: 🟦;
    width: 100%;
    height: 100%;
}

.inner .inputLayer {
    z-index: 1 /* <- Note: Local order in .inner */;
}

.inner .feedbackLayer {
    z-index: 2 /* <- Note: Local order in .inner */;
}

/* ---------------------- */

.inner .inputLayer {
    display: grid;
    grid-template:
        '1️⃣' 1fr
        '2️⃣' 50px;
}

.inner .inputLayer .answer {
    /*/
    outline: 1px dotted rgb(81, 255, 38);
    /**/

    height: 100%;
    width: 100%;
    grid-area: 1️⃣;

    resize: none;

    border-radius: 0;
    background-color: #151515;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
}

.inner .inputLayer .submit {
    /*/
    outline: 1px dotted rgb(81, 255, 38);
    /**/

    grid-area: 2️⃣;

    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* ---------------------- */

.inner .feedbackLayer {
    /*/
    outline: 1px dotted rgb(38 114 255);
    /**/

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    padding-bottom: 60px;
    padding-right: 10px;

    pointer-events: none;
}

.inner .feedbackLayer button.triggerFeedback {
    z-index: 3 /* <- Note: Local order in dialogue */;

    pointer-events: all;

    height: 40px;
    width: 40px;
    cursor: pointer;

    border-radius: 50%;
    border: none;
    outline: none;

    background-color: #fdd10e;
}

.inner .feedbackLayer button.triggerFeedback img {
    transform: translate(0, -1px);
}
