.ExplainContent {
    /**/
    outline: 1px dotted red;
    /**/

    width: 100%;
    height: 100vh;

    display: grid;
    grid-template: '🟦 ⬛';

    align-items: stretch;
    justify-content: stretch;
}

.preview {
    /**/
    outline: 1px dotted rgb(72, 255, 0);
    /**/

    grid-area: 🟦;

    width: 100%;
    height: 100%;
}

.explain {
    /**/
    outline: 1px dotted rgb(0, 26, 255);
    /**/

    grid-area: ⬛;

    width: 100%;
    height: 100%;
}
