.ExplainContent {
    /*/
    border: 1px dotted red;
    /**/
    /* TODO: Use or remove empty css */
}

.device {
    /*/
    border: 1px dotted red;
    /**/

    /* Mobile size viewport in 3D space*/

    float: left;

    width: 375px;
    height: 667px;

    transform: scale(0.5) perspective(1000px) rotateY(15deg);

    box-shadow: 0 0 50px rgba(126, 126, 126, 0.452);
}

.device:hover {
    transform: scale(0.5) perspective(1000px);
}
