.ControlPanel {
    /* TODO: Use or remove empty css */

    z-index: 1000;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: auto;

    padding: 3px;
    background-color: rgba(43, 43, 43, 0.11);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(10px);
    border-radius: 6px;

    /* TODO: !!!! Design with more buttons */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.ControlPanel,
.ControlPanel * {
    transition: none;
}

.button {
    border: none;
    outline: none;
    text-align: center;
    font-size: 17px;
    margin: 5px;
    background-color: rgb(152, 216, 228) /* <- TODO: !! Figure out best colors */;
}

.button[data-active='true'] {
    background-color: rgb(187, 247, 20) /* <- TODO: !! Figure out best colors */;
    text-align: center;
    font-size: 17px;
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    .ControlPanel {
        width: 85px;
        right: -30px;
        flex-direction: column;
    }

    .button {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        width: 40px;
        padding-left: 2px;

        /*transform: rotate(180deg);*/
    }
}
