.page {
    /*width: 100%;*/

    display: grid;

    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 65vw 10vh 10vh auto minmax(17vh, 75px);

    align-items: stretch;
    justify-content: stretch;

    /* TODO: Do not show white page scrollbar */
}

@media only screen and (min-width: 900px) {
    .page {
        grid-template-columns: auto 800px auto;
    }
}

.page header {
    /*/
    outline: 1px dotted red;
    /**/

    z-index: 1;

    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.background {
    /*/
    outline: 1px dotted #00ff00;
    /**/

    z-index: 2;

    grid-column: 1 / span 3;
    grid-row: 2 / span 3;

    pointer-events: none;
}

.page main {
    /*/
    outline: 1px dotted green;
    /**/

    z-index: 3;

    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    text-align: center;
    color: var(--normal-text-color);
}

.page a {
    color: var(--normal-text-color);
    text-decoration: none;
}

.page p a {
    color: var(--highlighted-text-color);
    text-decoration: underline;
}

.page p a:hover {
    color: var(--normal-text-color);
}

/* TODO: !!! move to welcome section */
.page h1,
.page h2,
.page b,
.page a:hover {
    color: var(--highlighted-text-color);
}

.page h1 {
    line-height: 70%;
    margin-bottom: 60px;
}

.page h2 {
    font-size: 30px;
    background-image: linear-gradient(to right, var(--normal-text-color), var(--highlighted-text-color));
    background-clip: text;
    color: transparent;
}

.page main h1 {
    /* TODO: h1 should be semantically in <header/> */

    /*/
    outline: 1px dotted purple;
    /**/

    font-size: 85px;
    white-space: nowrap;

    /*
    TODO: Implement in handwriteText
    text-shadow: #dec36f 0px 0px 25px /* <- [🎨] */

    /* TODO: DRY */
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media only screen and (max-width: 600px) {
    .page main h1 {
        font-size: 70px;
    }
}

.page footer {
    /*/
    outline: 1px dotted green;
    /**/

    z-index: 3;

    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
}

/* TODO: [🧈] Best way how to share page css */
