/*

TODO: !!! Probbably delete this file

:root {
    --normal-text-color: #600200;
    --highlighted-text-color: #604600;
    --footer-text-color: #c3d2cd;

    --main-background: linear-gradient(to bottom, #c3d2cd, rgba(195, 210, 205, 0.705)),
        url(../../public/patterns/simple/grey.png);

    --footer-background: linear-gradient(to bottom, hsla(0, 60%, 9%, 0.5), hsla(0, 0%, 0%, 0.5)),
        url(../../public/patterns/simple/grey.png);

    /* TODO: !!!! Also add button bg+color * /
}
*/
