.page {
    /*width: 100%;*/

    display: grid;

    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 0 10vh 10vh auto minmax(17vh, 75px);

    align-items: stretch;
    justify-content: stretch;

    /* TODO: Do not show white page scrollbar */
}

.page header {
    /*/
    outline: 1px dotted red;
    /**/

    z-index: 1;

    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.background {
    /*/
    outline: 1px dotted #00ff00;
    /**/

    z-index: 2;

    grid-column: 1 / span 3;
    grid-row: 2 / span 3;

    pointer-events: none;
}

.page main {
    /*/
    outline: 1px dotted green;
    /**/

    z-index: 3;

    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    text-align: center;
    color: #ccc;
}

.page a {
    color: #ccc;
    text-decoration: none;
}

.page p a {
    color: #ccc;
    text-decoration: underline;
}

.page p a:hover {
    color: #ccc;
}

/* TODO: !! move to welcome section */
.page h1,
.page h2,
.page b,
.page a:hover {
    color: #ffffff;
}

.page h1 {
    text-shadow: #ffffff;
}

.page footer {
    /*/
    outline: 1px dotted green;
    /**/

    z-index: 3;

    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
}
