/* TODO: !!! Rename to gallery.module.css */

.page {
    /*width: 100%;*/
    min-height: 100vh;

    display: grid;

    align-items: stretch;
    justify-content: stretch;
}

.page main {
    text-align: center;
    color: #ccc;
}

.page a {
    color: #ccc;
    text-decoration: none;
}

.page p a {
    color: #ccc;
    text-decoration: underline;
}

.page p a:hover {
    color: #ccc;
}

/* TODO: !! move to welcome section */
.page h1,
.page h2,
.page b,
.page a:hover {
    color: #ffffff;
}

.page h1 {
    text-shadow: #ffffff;
}
