.Select {
    /* TODO: Use or remove empty css */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Select .title {
    text-align: left;
}

.Select select {
    outline: none;
}

.option {
    padding: 5px;
    border: 2px solid rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    border-radius: 5px;

    box-sizing: border-box;
    height: 42px;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    cursor: pointer;

    max-width: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option:disabled {
    opacity: 0.5;
}

.selected {
    border: 2px solid rgb(69, 214, 250);
}

.title {
    display: inline-block;
    width: 70px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: none;
}
