.DeviceIframe {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

.DeviceIframe iframe {
    /*/
    outline: 1px dotted rgb(103, 223, 79);
    /**/

    width: 100%;
    height: 100%;

    box-shadow: 0 0 50px rgba(126, 126, 126, 0.452);

    transform: scale(0.8) rotateY(15deg);
    transition: transform 0.5s ease-in-out;

    /*/
    // TODO: Do we need this?
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /**/
}

.DeviceIframe:hover iframe {
    transform: scale(0.9) rotateY(0deg);
}
