.PavolHejnySection {
    /*/
    outline: 1px dotted green;
    /**/
}

.PavolHejnySection div p {
    text-align: left;
}

.person {
    z-index: 3;
    position: relative;

    display: block;
    float: left;
    shape-outside: circle(54%); /* <- Note: For some reason url(#squircle) is not working here*/

    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 25px;
margin-top: 25px;
    border-radius: 50px; /* <- TODO: !!! ACRY irelevant */

    overflow: clip;
    /*clip-path: margin-box;/**/
    /*clip-path: margin-box circle(25% at 25% 25%);/**/
    /*clip-path: url('../../../public/masks/person.png'); /**/
    clip-path: url(#squircle) /* <- @see https://codepen.io/nklunder/full/ZrxbZO*/;
}

.person img {
    z-index: 2;
    position: relative;

    width: 100%;
    height: 100%;

    /* <- TODO: [💫] What is the propper place for this radial-gradient, in JSX or in CSS module + DRY */
}

.person .personBackground {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(
        circle at 20% 50%,
        #ce9243 0%,
        #000000 80%
    ); /* <- TODO: !! Maybe better background:
                    - Image
                    - Pattern
                    - #b4952c
                    - #ce9243
                    -
                    -
                    -

    
        */
    /*background-image: url(../../../public/patterns/Pavol_Hejn_Wallpaper_by_Titian_1177b75d-6e65-49ba-ba53-c3a5861dbc8d.png);*/
}

.personShadow {
    z-index: 0;
    position: absolute;
}

.personShadow .personShadowInner {
    width: 250px;
    height: 250px;
    position: relative;
    transform: translate(-25px, calc(25px + 25px)) /* <- TODO: Paralax effect on shadow */;
}

@media screen and (max-width: 400px) {
    .person {
        width: 50vw;
        height: auto;
    }

.personShadow .personShadowInner {
    width: 50vw;
    height: 50vw;

/*border: 1px solid red;*/
    /*!!! use aspect ratio*/
}
}

/*!!! rename repo*/
