.items {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.items > * {
    width: calc(100% / 1);
}

@media only screen and (min-width: 850px) {
    .items > * {
        width: calc(100% / 2);
    }
}

@media only screen and (min-width: 1000px) {
    .items > * {
        width: calc(100% / 3);
    }
}

@media only screen and (min-width: 1300px) {
    .items > * {
        width: calc(100% / 4);
    }
}

@media only screen and (min-width: 1600px) {
    .items > * {
        width: calc(100% / 5);
    }
}
