.colorPreview {
    z-index: 3;
    position: absolute;

    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}

.colorPicker {
    /*/
    outline: 1px dotted #00ff00;
    /**/

    z-index: 2;
    position: absolute;

}
