.WhoisDomains {
    /*/
    border: 1px dotted red;
    /**/
    /* TODO: Use or remove empty css */
}

textarea.pattern {
    /**/
    border: 1px dotted red;
    /**/

    width: 50%;
    max-width: 200px;
    height: 300px;
}
