.Scenarios {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    text-align: center;
}

.Scenarios ul {
    /*/
    outline: 1px dotted rgb(38, 255, 146);
    /**/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.Scenarios ul li {
    /*/
    outline: 1px dotted rgb(178, 189, 184);
    /**/

    display: flex;
    justify-content: center;
    align-items: center;
}

.Scenarios ul li a {
    text-decoration: none;
}

.Scenarios ul li a {
    text-decoration: none;
}

.Scenarios ul li .scenario {
    margin: 10px;
}

.Scenarios ul li .scenario h2 {
    margin: 0;
}

.Scenarios ul li.preparing {
    opacity: 0.5;
}

@media only screen and (max-width: 660px) {
    /* Wrap between 3 and 2 on row */

    .Scenarios ul li.preparing {
        display: none;
    }
}
