.Scenarios {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    text-align: center;
}

.Scenarios ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
    margin: 0;
    padding: 0;

    /* TODO: !!! Align in 2x2 grid */
}

.Scenarios ul a {
    text-decoration: none;
}

.Scenarios ul a {
    text-decoration: none;
}

.Scenarios .scenario {
    margin: 10px;
}
