ul.Scenarios {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul.Scenarios a {
    text-decoration: none;
}

ul.Scenarios a {
    text-decoration: none;
}

.scenario {
    margin: 10px;
}
