.overlay {
    position: fixed;
    z-index: 4000 /* <- [🔝] Global order of showcase */;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
}

.Modal {
    position: fixed;
    z-index: 4001 /* <- [🔝] Global order of showcase */;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    overflow: hidden;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;

    grid-template:
        '🟦'
        '⬛';
}

.bar {
    grid-area: 🟦;

    width: 100%;
    height: 100%;

    background-color: rgba(var(--palette-0-triplet), 0.5);
    color: var(--palette-1);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-self: center;
    justify-self: center;
}

.bar > * {
    /*/
    border: 1px dotted red;
    /**/

    width: 100%;
    height: 100%;
}

.bar .title {
    grid-column: 2 / span 1;
    font-size: 1.5rem;
    font-weight: bold;

    text-align: center;
}

.bar .icons {
    grid-column: 3 / span 1;

    display: flex;
    flex-direction: row-reverse;

    padding: 5px;
}

.content {
    grid-area: ⬛;

    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    /* Note: On mobile EditModal fills the whole screen */
    .Modal {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}
