* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #50555a;
    overscroll-behavior: none;
}
#canvas {
    width: 100vw;
    height: calc(100vh - 70px);
    display: block;
}
#bottom-bar {
    border: 1px solid #969ba0;
    display: flex;
    height: 70px;
}
#draw-button {
    border-left: 1px solid #969ba0;
    padding: 0 30px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
}
#draw-button,
#text-input {
    height: 100%;
    font-size: 22px;
    outline: none;
}
#text-input {
    width: 100%;
    padding-left: 30px;
    font-family: Courier, monospace;
    font-weight: 400;
    letter-spacing: 3px;
}
::placeholder {
    opacity: 0.6;
}
#control-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
}
#select-style {
    font-size: 16px;
    height: 25px;
    border: 1px solid #969ba0;
}
.control-container {
    margin-left: auto;
    padding-left: 30px;
    display: flex;
}
.range-container {
    padding-top: 3px;
}
.label {
    margin-right: 5px;
}
input[type='range'] {
    width: 100px;
}
#loading-indicator,
#save-button {
    position: absolute;
    top: 20px;
    left: 20px;
}
#save-button {
    height: 25px;
    width: 25px;
}
#save-button > svg {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
    #control-panel {
        flex-direction: column;
    }
}
