.AigenSimple {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    z-index: 1000 /* <- [🔝] Global z-index for wallpaper page */;
    position: absolute;
    top: 0;
    left: 0;

    font-size: 0.8em;
    opacity: 0.8;
    margin-left: 5px;
}
