.WhoisDomains {
    /*/
    outline: 1px dotted red;
    /**/
    /* TODO: Use or remove empty css */

    width: 100%;

    padding: 10px;
    padding-top: 20px;
}

textarea.pattern {
    /*/
    outline: 1px dotted red;
    /**/

    width: 50%;

    height: 300px;
}
