.FooterSection {
    /*/
    outline: 1px dotted red; /**/

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    background: linear-gradient(to bottom, rgba(var(--palette-4-triplet), 0.05), rgba(var(--palette-2-triplet), 0.1)),
        url(/patterns/simple/stripes-black.png);
    color: rgba(var(--palette-1-triplet), 0.6);

    padding: 20px;
}

.FooterSection a {
    color: inherit !important;
}

.FooterSection ul li:not(:first-child):before {
    content: '|';
    color: rgba(var(--palette-1-triplet), 0.6);
    margin-left: 10px;
    margin-right: 10px;
}

.FooterSection ul {
    /*/
    outline: 1px dotted red; /**/

    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.FooterSection ul li {
    /*/
    outline: 1px dotted red; /**/

    list-style: none;
    margin: 0;
    padding: 0;

    white-space: nowrap;
}
