.logDialogue {
    z-index: 91000 /* <- [🔝] Global z-index for wallpaper page */;
    position: fixed;
    bottom: 10;
    right: 10;

    font-size: 0.8em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #fff;
}
