.overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);
}

.EditModal {
    position: fixed;
    z-index: 10001;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 50px;

    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(var(--palette-0-triplet), 0.5);
    color: var(--palette-1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.editor {
    /*width: 100%;*/
    width: 90vw;
    height: 400px;
}

.section {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(var(--palette-0-triplet), 0.5);
    width: 100%;
}

.palette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 170px;
}

@media (max-width: 600px) {
    .palette {
        grid-template-columns: 1fr;
    }
}

/*
.paletteItem:nth-child(2) {
    background-color: #00000023;
}
*/

.paletteItem {
    padding: 5px;
}



@media (max-width: 600px) {
    /* Note: On mobile EditModal fills the whole screen */
    .EditModal {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}
