.CopilotPanel {
    /*/
    outline: 1px dotted rgb(255, 38, 38);
    /**/

    z-index: 3000 /* <- [🔝] Global z-index for wallpaper page */;
    position: fixed;
    left: 50vw;
    transform: translate(-50%, 0);
    bottom: 15px;
    height: 60px;

    /* TODO: [👨‍🌾] Make just one css for floating control panel */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.43);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 60px;
    overflow: clip;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.CopilotPanel input,
.CopilotPanel button {
    /*/
    outline: 1px dotted rgb(56, 255, 38);
    /**/

    outline: none;
    border: none;
    background-color: transparent;

    padding-left: 15px;
    padding-right: 15px;

    font-size: 1.3em;
}

.CopilotPanel input {
    /*/
    outline: 1px dotted rgb(56, 255, 38);
    /**/

    width: calc(100vw - 100px);
}

.CopilotPanel button {
    /*/
    outline: 1px dotted rgb(56, 255, 38);
    /**/

    margin: -10px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: rgba(126, 126, 126, 0.2);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.CopilotPanel button:hover {
    background-color: rgba(126, 126, 126, 0.3);
}
