.GetWebButton {
    /* TODO: Use or remove empty css */

    z-index: 1000;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 220px;

    padding: 3px;
    background-color: rgba(43, 43, 43, 0.11);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(10px);
    border-radius: 6px;

    /* TODO: !!!! Design with more buttons */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.GetWebButton,
.GetWebButton * {
    transition: none;
}

.button {
    border: none;
    outline: none;
    text-align: center;
    font-size: 17px;
    margin: 5px;
}

.button.active {
    border: 2px solid rgb(255, 0, 0);
    outline: none;
    text-align: center;
    font-size: 17px;
    margin: 5px;
}

.getButton {
    flex-grow: 2;
    font-size: 20px;
    /*
    font-weight: bold;
    background-color: rgb(181, 230, 135);
    */
}

.button {
    flex-grow: 1;
    /*
    background-color: rgb(136, 162, 196);
    color: black !important;
    */
}

@media only screen and (max-width: 900px) {
    .GetWebButton {
        width: 85px;
        right: -30px;
        flex-direction: column;
    }

    .button {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        width: 40px;
        padding-left: 2px;

        /*transform: rotate(180deg);*/
    }
}
