.inputLayer {
    /*/
    background-color: rgba(81, 255, 38, 0.5);
    /**/

    width: 100%;
    height: 100%;

    display: grid;
    grid-template:
        '0️⃣' 100px
        '1️⃣' 1fr
        '2️⃣' 50px;
}

.inputLayer .likedStatus {
    /*/
    outline: 1px dotted rgb(81, 255, 38);
    /**/

    height: 100%;
    width: 100%;
    grid-area: 0️⃣;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputLayer .likedStatus .option {
    margin: 10px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLayer .likedStatus .option[data-active='true'] {
    background-color: rgb(255 255 255);

    animation-name: emphasize;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes emphasize {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(5deg);
    }
    100% {
        transform: scale(1.2) rotate(-5deg);
    }
}

.inputLayer .answer {
    /*/
    outline: 1px dotted rgb(81, 255, 38);
    /**/

    height: 100%;
    width: 100%;
    grid-area: 1️⃣;

    resize: none;

    border-radius: 0;
    background-color: #151515;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
}

.inputLayer .submit {
    /*/
    outline: 1px dotted rgb(81, 255, 38);
    /**/

    height: 100%;
    width: 100%;
    grid-area: 2️⃣;

    float: right;

    cursor: pointer;
}
