+year(2018,false)
+item(
    'H-Edu',
    'type',
    '2017 - ',
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
//+item(
    'ITNetwork prezentace',
    'type',
    '2018 - ',
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
    )
+item(
    #{title},
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'Vytvořili jsme volební kalkulačku offline. Je to perfektní nástroj na přinesení diskuse o politických tématech na veřejná místa...'
)
+item(
    'JobsDev 2018',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'Startup weekend Plzeň',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'Startup weekend Olomouc',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    '#AllForJan',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'MeasureCamp',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'Jak si (nenechat) hacknout webovou aplikaci?',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'PyConSK',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'Startup weekend Prague',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'DevConf 2018',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+item(
    'FakeHacks',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)
+year(2017,true)
+item(
    'Train hack',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)






+item(
    'Towns',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)

+item(
    '3D galerie',
    'type',
    null,
    '33692658_10155680999023590_4747848035172614144_n',
    '33692658_10155680999023590_4747848035172614144_n',
    'popis'
)