name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 17

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: npm run lint

            - name: Unit test
              run: npm run test-unit

            - name: Integration test
              run: npm run test-integration
